/* styles.scss */
.table-container {
 

  .data-table {
    margin: 20px;
    font-family: Arial, sans-serif;

    table {
      width: 100%;
      border-collapse: collapse;

      .title{
        &:hover{
          text-decoration: underline;
          color:black;
          cursor: pointer;
        }
      }

      th,
      td {
        padding: 10px;
        text-align: left;
        border-left: 1px solid #ddd;
      }

      th {
        background-color: #f2f2f2;
        font-weight: bold;
      }

      tr:nth-child(even) {
        background-color: #f2f2f2;
      }

      tr:hover {
        background-color: #ddd;
      }
    }
  }
}
