/* navbar.scss */

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark-primary-background-color);
  padding: 10px 20px;
  color: white;
  margin: 0;

  .logo {
    font-size: 1.5rem;
    color: var(--secondary-color) !important;
  }

  .nav-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    @media only screen and (max-width: 720px) {
      flex-direction: column;
    }
    .view-all-jokes {
      cursor: pointer;
      padding: 5px;
      border-radius: 4px 8px;
      &:hover {
        background-color: #4b4a4a;
      }
    }

    .link-container {
      display: flex;
      gap: 10px;
      @media only screen and (max-width: 720px) {
        flex-direction: column;
      }
    }    
  }
}

.dark-nav {
  background-color: #0f1113;
}
