footer {
  text-align: center;
  background-color:var(--dark-primary-background-color)!important;
  color: var(--secondary-color) !important;;
  position: fixed;
  bottom: 0;
  width: 100%;
  
}

.dark-footer{
  background-color: #0f1113!important;; 
}
