footer {
  text-align: center;
  background-color:var(--dark-primary-background-color)!important;
  color: var(--secondary-color) !important;;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-weight: normal;
  font-family: Arial, sans-serif;
  a{
    color:#fff;
    &:hover{
      color: var(--secondary-color);
    }
  }
  
}

.dark-footer{
  background-color: #0f1113!important;; 
}
